.home-container1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 2;
  max-width: 1300px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-menu1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-text10 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text10:hover {
  color: var(--dl-color-primary-700);
}
.home-text11 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text11:hover {
  color: var(--dl-color-primary-700);
}
.home-text12 {
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text12:hover {
  color: var(--dl-color-primary-700);
}
.home-image1 {
  width: 100px;
  object-fit: cover;
}
.home-container2 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container3 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.1);
}
.home-icon10 {
  fill: var(--dl-color-gray-white);
  width: 16px;
  height: 16px;
  transition: 0.3s;
}
.home-icon10:hover {
  opacity: 0.8;
}
.home-container4 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.1);
}
.home-icon12 {
  fill: var(--dl-color-gray-white);
  width: 16px;
  height: 16px;
  transition: 0.3s;
}
.home-icon12:hover {
  opacity: 0.8;
}
.home-container5 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.1);
}
.home-icon14 {
  fill: var(--dl-color-gray-white);
  width: 16px;
  height: 16px;
  transition: 0.3s;
}
.home-icon14:hover {
  opacity: 0.8;
}
.home-container6 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.1);
}
.home-icon16 {
  fill: var(--dl-color-gray-white);
  width: 16px;
  height: 16px;
  transition: 0.3s;
}
.home-icon16:hover {
  opacity: 0.8;
}
.home-menu2 {
  width: 24px;
  height: 24px;
  display: none;
  margin-left: var(--dl-space-space-unit);
}
.home-hero {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 1;
  position: relative;
  max-width: 1300px;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-container7 {
  width: auto;
  height: auto;
  display: flex;
  z-index: 2;
  align-items: flex-start;
  flex-direction: column;
}
.home-text13 {
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-text14 {
  white-space: pre-wrap;
}
.home-br {
  white-space: pre-wrap;
}
.home-text16 {
  white-space: pre-wrap;
}
.home-text17 {
  max-width: 500px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-text18 {
  color: rgb(0, 0, 0);
  white-space: normal;
}
.home-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius6);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-700);
}
.home-button:hover {
  background-color: var(--dl-color-primary-500);
}
.home-button:active {
  background-color: var(--dl-color-primary-900);
}
.home-image2 {
  width: 500px;
  z-index: 100;
  transform: rotate(-10deg);
  margin-top: -6rem;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-turquoise-cirble {
  top: auto;
  left: auto;
  right: 400px;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
}
.home-orange-circle {
  top: 250px;
  left: auto;
  right: 530px;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
.home-purple-circle {
  top: -250px;
  left: auto;
  right: -200px;
  width: 700px;
  bottom: auto;
  height: 700px;
  position: absolute;
  object-fit: cover;
}
.home-features1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1300px;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text19 {
  align-self: flex-start;
}
.home-features2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .home-menu2 {
    display: none;
  }
  .home-hero {
    flex-direction: column;
  }
  .home-container7 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home-text13 {
    text-align: center;
  }
  .home-image2 {
    width: 80%;
    margin-top: var(--dl-space-space-tripleunit);
  }
  .home-turquoise-cirble {
    top: auto;
    right: 30%;
    bottom: -30px;
  }
  .home-orange-circle {
    top: auto;
    left: 10%;
    right: auto;
    bottom: 50px;
  }
}
@media(max-width: 767px) {
  .home-header {
    z-index: 100;
  }
  .home-menu1 {
    display: none;
  }
  .home-container2 {
    display: none;
  }
  .home-menu2 {
    fill: var(--dl-color-gray-900);
    display: block;
  }
  .home-text13 {
    font-size: 50px;
  }
  .home-purple-circle {
    top: -345px;
    left: auto;
    right: -379px;
    bottom: auto;
  }
  .home-text19 {
    width: 100%;
    font-size: 40px;
    text-align: center;
  }
}
@media(max-width: 479px) {
  .home-text19 {
    text-align: center;
  }
}
